<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SF Actus{% endblock %}</title>
        {% block stylesheets %}

        {# boostrap #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Actus</h1>
                
                <nav>
                    <ul class="nav nav-pills">
                        <li><a href="{{ path('home') }}" title="SF Actus | Accueil">Accueil</a></li>
                        <li><a href="{{ path('contact') }}" title="Contactez-nous">Contact</a></li>
                        <li><a href="{{ path('about') }}" title="À propos de nous">À propos</a></li>

                        {# is_granted pour vérifier le role #}
                        {% if app.user and is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            {% else %}
                            <li><a href="{{ path('login') }}">Connexion</a></li>
                        {% endif %}


                    </ul>
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                    Bonjour {{ app.user.username }} !!
                    {% endif %}
                </nav>


                {% block header %}{% endblock %}
            </header>
            <section>
        
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </section>
            <footer>
                @copyright machin
                {% block footer %}{% endblock %}
            </footer>
        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            {% javascripts 
            'js/test_assetic.js' 
            'js/*' 
            output='compiled/js/all.js' 
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
